<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="encarregadoEducacao">
            <h2><span jhiTranslate="ensinoApp.encarregadoEducacao.detail.title">Encarregado Educacao</span> {{encarregadoEducacao.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ensinoApp.encarregadoEducacao.profissao">Profissao</span></dt>
                <dd>
                    <span>{{encarregadoEducacao.profissao}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.encarregadoEducacao.cargo">Cargo</span></dt>
                <dd>
                    <span>{{encarregadoEducacao.cargo}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.encarregadoEducacao.faixaSalarial">Faixa Salarial</span></dt>
                <dd>
                    <span>{{encarregadoEducacao.faixaSalarial}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.encarregadoEducacao.nomeEmpresa">Nome Empresa</span></dt>
                <dd>
                    <span>{{encarregadoEducacao.nomeEmpresa}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.encarregadoEducacao.contactoEmpresa">Contacto Empresa</span></dt>
                <dd>
                    <span>{{encarregadoEducacao.contactoEmpresa}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.encarregadoEducacao.pessoa">Pessoa</span></dt>
                <dd>
                    <div *ngIf="encarregadoEducacao.pessoaId">
                        <a [routerLink]="['/pessoa', encarregadoEducacao.pessoaId, 'view']">{{encarregadoEducacao.pessoaNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/encarregado-educacao', encarregadoEducacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
