<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-pessoa-heading" jhiTranslate="ensinoApp.pessoa.home.createOrEditLabel">Create or edit a Pessoa
            </h2>
            <hr>


            <div>
                <rv-alert-error></rv-alert-error>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.imagem"
                                for="field_imagem">Imagem</label>
                            <div>
                                <img [src]="'data:' + editForm.get('imagemContentType')!.value + ';base64,' + editForm.get('imagem')!.value"
                                    style="max-height: 100%; max-width: 100%;" *ngIf="editForm.get('imagem')!.value"
                                    alt="pessoa image" />
                                <div *ngIf="editForm.get('imagem')!.value" class="form-text text-danger clearfix">
                                    <span class="pull-left">{{editForm.get('imagemContentType')!.value}},
                                        {{byteSize(editForm.get('imagem')!.value)}}</span>
                                    <button type="button"
                                        (click)="clearInputImage('imagem', 'imagemContentType', 'file_imagem')"
                                        class="btn btn-secondary btn-xs pull-right">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </div>
                                <input type="file" id="file_imagem" (change)="setFileData($event, 'imagem', true)"
                                    accept="image/*" jhiTranslate="entity.action.addimage" />
                            </div>
                            <input type="hidden" class="form-control" name="imagem" id="field_imagem"
                                formControlName="imagem" />
                            <input type="hidden" class="form-control" name="imagemContentType"
                                id="field_imagemContentType" formControlName="imagemContentType" />
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="form-group" [hidden]="!editForm.get('id')!.value">
                            <label for="id" jhiTranslate="global.field.id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.tipoPessoa"
                                for="field_tipoPessoa">Tipo Pessoa</label>
                            <input type="text" class="form-control" name="tipoPessoa" id="field_tipoPessoa"
                                formControlName="tipoPessoa" />
                            <div
                                *ngIf="editForm.get('tipoPessoa')!.invalid && (editForm.get('tipoPessoa')!.dirty || editForm.get('tipoPessoa')!.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="editForm.get('tipoPessoa')?.errors?.required"
                                    jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col">
                                <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.nome"
                                    for="field_nome">Nome</label>
                                <input type="text" class="form-control" name="nome" id="field_nome"
                                    formControlName="nome" />
                                <div
                                    *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                                    <small class="form-text text-danger" *ngIf="editForm.get('nome')?.errors?.required"
                                        jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.nascimento"
                                    for="field_nascimento">Nascimento</label>
                                <div class="input-group">
                                    <input id="field_nascimento" type="text" class="form-control" name="nascimento"
                                        ngbDatepicker #nascimentoDp="ngbDatepicker" formControlName="nascimento" />
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-secondary" (click)="nascimentoDp.toggle()">
                                            <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <h5>Filiação</h5> <hr>
                        <div class="row">

                            <div class="form-group col">
                                <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.pai"
                                    for="field_pai">Pai</label>
                                <input type="text" class="form-control" name="pai" id="field_pai"
                                    formControlName="pai" />
                            </div>
                            <div class="form-group col">
                                <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.mae"
                                    for="field_mae">Mae</label>
                                <input type="text" class="form-control" name="mae" id="field_mae"
                                    formControlName="mae" />
                            </div>
                        </div>
                    </div>
                </div>

                <p-accordion>
                    <p-accordionTab header="Contacto" [selected]="true">
                        <button type="button" class="btn btn-success" [routerLink]="['/contacto-pessoa/new']">Incluir contacto</button>

                        <table class="table table-striped" *ngIf="contactos.length > 0">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tipo de contacto</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Contacto</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let contacto of contactos; let i = index" >
                                <th scope="row"> {{ i }} </th>
                                <td> {{ contacto.tipoContacto }} </td>
                                <td> {{ contacto.descricao }} </td>
                                <td> {{ contacto.contacto }} </td>
                                <td>
                                    <button type="button" > <fa-icon [icon]="'trush'" ></fa-icon> </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </p-accordionTab>

                    <p-accordionTab header="Morada" >
                        <button type="button" class="btn btn-success" [routerLink]="['/morada-pessoa/new']" >Incluir morada</button>
                        <table class="table table-striped" *ngIf="moradas.length > 0">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">Municipio</th>
                                <th scope="col">Bairro</th>
                                <th scope="col">Rua</th>
                                <th scope="col">Quarteirão | Edificio</th>
                                <th scope="col">Nº da casa | apartamento</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let morada of moradas; let i = index" >
                                <th scope="row"> {{ i }} </th>
                                <td> {{ morada.provincia }} </td>
                                <td> {{ morada.municipio }} </td>
                                <td> {{ morada.bairro }} </td>
                                <td> {{ morada.rua }} </td>
                                <td> {{ morada.quarteirao }} </td>
                                <td> {{ morada.numeroPorta }} </td>
                                <td>
                                    <button type="button" > <fa-icon [icon]="'trush'" ></fa-icon> </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </p-accordionTab>

                    <p-accordionTab header="Documentação" >
                        <button type="button" class="btn btn-success" [routerLink]="['/documentacao-pessoa/new']" >Incluir documentação</button>

                        <table class="table table-striped" *ngIf="documentos.length > 0">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tipo de documento</th>
                                <th scope="col">Número do documento</th>
                                <th scope="col">Data de emissão</th>
                                <th scope="col">Data de validade</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let documento of documentos; let i = index" >
                                <th scope="row"> {{ i }} </th>
                                <td> {{ documento.tipo }} </td>
                                <td> {{ documento.numero }} </td>
                                <td> {{ documento.emissao }} </td>
                                <td> {{ documento.validade }} </td>
                                <td>
                                    <button type="button" > <fa-icon [icon]="'trush'" ></fa-icon> </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </p-accordionTab>

                    <p-accordionTab header="Grau parentesco" >
                        <button type="button" class="btn btn-success" [routerLink]="['/relacionamento-pessoa/new']" >Adicionar grau parentesco</button>

                        <table class="table table-striped" *ngIf="relacionamentos.length > 0">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Grau parentesco</th>
                                <th scope="col">Nome do parente</th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let relacionamento of relacionamentos; let i = index" >
                                <th scope="row"> {{ i }} </th>
                                <td> {{ relacionamento.grauParentesco }} </td>
                                <td> {{ relacionamento.paraNome }} </td>
                                <td>
                                    <button type="button" > <fa-icon [icon]="'trush'" ></fa-icon> </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </p-accordionTab>
                </p-accordion>


                <!-- <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.pessoa.utilizador"
                        for="field_utilizador">Utilizador</label>
                    <select class="form-control" id="field_utilizador" name="utilizador" formControlName="utilizadorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">
                            {{userOption.login}}</option>
                    </select>
                </div> -->
            </div>
            <hr>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
