<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-matriz-curricular-heading" jhiTranslate="ensinoApp.matrizCurricular.home.createOrEditLabel">Create or edit a Matriz Curricular</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.matrizCurricular.curso" for="field_curso">Curso</label>
                    <select class="form-control" id="field_curso" name="curso" formControlName="cursoId">
                        <option *ngIf="!editForm.get('cursoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="cursoOption.id" *ngFor="let cursoOption of cursos; trackBy: trackById">{{cursoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('cursoId')!.invalid && (editForm.get('cursoId')!.dirty || editForm.get('cursoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('cursoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
