<div>
    <h2 id="page-heading">
        <span jhiTranslate="ensinoApp.planoCurricular.home.title">Plano Curriculars</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plano-curricular" [routerLink]="['/plano-curricular/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ensinoApp.planoCurricular.home.createLabel">
            Create a new Plano Curricular
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ensinoApp.planoCurricular.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="planoCurriculars?.length === 0">
        <span jhiTranslate="ensinoApp.planoCurricular.home.notFound">No planoCurriculars found</span>
    </div>
    <div class="table-responsive" *ngIf="planoCurriculars?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cargaHoraria"><span jhiTranslate="ensinoApp.planoCurricular.cargaHoraria">Carga Horaria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="ensinoApp.planoCurricular.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="terminal"><span jhiTranslate="ensinoApp.planoCurricular.terminal">Terminal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="regimeCurricular"><span jhiTranslate="ensinoApp.planoCurricular.regimeCurricular">Regime Curricular</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="componente"><span jhiTranslate="ensinoApp.planoCurricular.componente">Componente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="disciplinaNome"><span jhiTranslate="ensinoApp.planoCurricular.disciplina">Disciplina</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="classeDescricao"><span jhiTranslate="ensinoApp.planoCurricular.classe">Classe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planoCurricular of planoCurriculars ;trackBy: trackId">
                <td><a [routerLink]="['/plano-curricular', planoCurricular.id, 'view' ]">{{planoCurricular.id}}</a></td>
                <td>{{planoCurricular.cargaHoraria}}</td>
                <td>{{planoCurricular.descricao}}</td>
                <td>{{planoCurricular.terminal}}</td>
                <td>{{planoCurricular.regimeCurricular}}</td>
                <td>{{planoCurricular.componente}}</td>
                <td>
                    <div *ngIf="planoCurricular.disciplinaId">
                        <a [routerLink]="['/disciplina', planoCurricular.disciplinaId , 'view' ]" >{{planoCurricular.disciplinaNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planoCurricular.classeId">
                        <a [routerLink]="['/classe', planoCurricular.classeId , 'view' ]" >{{planoCurricular.classeDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/plano-curricular', planoCurricular.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plano-curricular', planoCurricular.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(planoCurricular)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="planoCurriculars?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
