<div>
    <h2 id="page-heading">
        <span jhiTranslate="ensinoApp.criterioAvaliacao.home.title">Criterio Avaliacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-criterio-avaliacao" [routerLink]="['/criterio-avaliacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ensinoApp.criterioAvaliacao.home.createLabel">
            Create a new Criterio Avaliacao
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ensinoApp.criterioAvaliacao.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="criterioAvaliacaos?.length === 0">
        <span jhiTranslate="ensinoApp.criterioAvaliacao.home.notFound">No criterioAvaliacaos found</span>
    </div>
    <div class="table-responsive" *ngIf="criterioAvaliacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="aprovaCom"><span jhiTranslate="ensinoApp.criterioAvaliacao.aprovaCom">Aprova Com</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="reporvaCom"><span jhiTranslate="ensinoApp.criterioAvaliacao.reporvaCom">Reporva Com</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="recursoCom"><span jhiTranslate="ensinoApp.criterioAvaliacao.recursoCom">Recurso Com</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fazExame"><span jhiTranslate="ensinoApp.criterioAvaliacao.fazExame">Faz Exame</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fazRecurso"><span jhiTranslate="ensinoApp.criterioAvaliacao.fazRecurso">Faz Recurso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fazExameEspecial"><span jhiTranslate="ensinoApp.criterioAvaliacao.fazExameEspecial">Faz Exame Especial</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroFaltaReprova"><span jhiTranslate="ensinoApp.criterioAvaliacao.numeroFaltaReprova">Numero Falta Reprova</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="menorNota"><span jhiTranslate="ensinoApp.criterioAvaliacao.menorNota">Menor Nota</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="maiorNota"><span jhiTranslate="ensinoApp.criterioAvaliacao.maiorNota">Maior Nota</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="notaMinimaAprovacao"><span jhiTranslate="ensinoApp.criterioAvaliacao.notaMinimaAprovacao">Nota Minima Aprovacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="planoCurricularDescricao"><span jhiTranslate="ensinoApp.criterioAvaliacao.planoCurricular">Plano Curricular</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let criterioAvaliacao of criterioAvaliacaos ;trackBy: trackId">
                <td><a [routerLink]="['/criterio-avaliacao', criterioAvaliacao.id, 'view' ]">{{criterioAvaliacao.id}}</a></td>
                <td>{{criterioAvaliacao.aprovaCom}}</td>
                <td>{{criterioAvaliacao.reporvaCom}}</td>
                <td>{{criterioAvaliacao.recursoCom}}</td>
                <td>{{criterioAvaliacao.fazExame}}</td>
                <td>{{criterioAvaliacao.fazRecurso}}</td>
                <td>{{criterioAvaliacao.fazExameEspecial}}</td>
                <td>{{criterioAvaliacao.numeroFaltaReprova}}</td>
                <td>{{criterioAvaliacao.menorNota}}</td>
                <td>{{criterioAvaliacao.maiorNota}}</td>
                <td>{{criterioAvaliacao.notaMinimaAprovacao}}</td>
                <td>
                    <div *ngIf="criterioAvaliacao.planoCurricularId">
                        <a [routerLink]="['/plano-curricular', criterioAvaliacao.planoCurricularId , 'view' ]" >{{criterioAvaliacao.planoCurricularDescricao}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/criterio-avaliacao', criterioAvaliacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/criterio-avaliacao', criterioAvaliacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(criterioAvaliacao)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="criterioAvaliacaos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
