<div>
    <h2 id="page-heading">
        <span jhiTranslate="ensinoApp.planoAula.home.title">Plano Aulas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plano-aula" [routerLink]="['/plano-aula/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ensinoApp.planoAula.home.createLabel">
            Create a new Plano Aula
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ensinoApp.planoAula.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="planoAulas?.length === 0">
        <span jhiTranslate="ensinoApp.planoAula.home.notFound">No planoAulas found</span>
    </div>
    <div class="table-responsive" *ngIf="planoAulas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectivoGeral"><span jhiTranslate="ensinoApp.planoAula.objectivoGeral">Objectivo Geral</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="objectivoEspecifico"><span jhiTranslate="ensinoApp.planoAula.objectivoEspecifico">Objectivo Especifico</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="conteudo"><span jhiTranslate="ensinoApp.planoAula.conteudo">Conteudo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="estrategia"><span jhiTranslate="ensinoApp.planoAula.estrategia">Estrategia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="actividades"><span jhiTranslate="ensinoApp.planoAula.actividades">Actividades</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tempo"><span jhiTranslate="ensinoApp.planoAula.tempo">Tempo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="recursosEnsino"><span jhiTranslate="ensinoApp.planoAula.recursosEnsino">Recursos Ensino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="avaliacao"><span jhiTranslate="ensinoApp.planoAula.avaliacao">Avaliacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="ensinoApp.planoAula.observacao">Observacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bibliografia"><span jhiTranslate="ensinoApp.planoAula.bibliografia">Bibliografia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="perfilEntrada"><span jhiTranslate="ensinoApp.planoAula.perfilEntrada">Perfil Entrada</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="perfilSaida"><span jhiTranslate="ensinoApp.planoAula.perfilSaida">Perfil Saida</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo1"><span jhiTranslate="ensinoApp.planoAula.anexo1">Anexo 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo2"><span jhiTranslate="ensinoApp.planoAula.anexo2">Anexo 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo3"><span jhiTranslate="ensinoApp.planoAula.anexo3">Anexo 3</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="utilizadorLogin"><span jhiTranslate="ensinoApp.planoAula.utilizador">Utilizador</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="disciplinaNome"><span jhiTranslate="ensinoApp.planoAula.disciplina">Disciplina</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dossificacaoId"><span jhiTranslate="ensinoApp.planoAula.dossificacao">Dossificacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planoAula of planoAulas ;trackBy: trackId">
                <td><a [routerLink]="['/plano-aula', planoAula.id, 'view' ]">{{planoAula.id}}</a></td>
                <td>{{planoAula.objectivoGeral}}</td>
                <td>{{planoAula.objectivoEspecifico}}</td>
                <td>{{planoAula.conteudo}}</td>
                <td>{{planoAula.estrategia}}</td>
                <td>{{planoAula.actividades}}</td>
                <td>{{planoAula.tempo | date:'medium'}}</td>
                <td>{{planoAula.recursosEnsino}}</td>
                <td>{{planoAula.avaliacao}}</td>
                <td>{{planoAula.observacao}}</td>
                <td>{{planoAula.bibliografia}}</td>
                <td>{{planoAula.perfilEntrada}}</td>
                <td>{{planoAula.perfilSaida}}</td>
                <td>
                    <a *ngIf="planoAula.anexo1" (click)="openFile(planoAula.anexo1ContentType, planoAula.anexo1)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="planoAula.anexo1">{{planoAula.anexo1ContentType}}, {{byteSize(planoAula.anexo1)}}</span>
                </td>
                <td>
                    <a *ngIf="planoAula.anexo2" (click)="openFile(planoAula.anexo2ContentType, planoAula.anexo2)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="planoAula.anexo2">{{planoAula.anexo2ContentType}}, {{byteSize(planoAula.anexo2)}}</span>
                </td>
                <td>
                    <a *ngIf="planoAula.anexo3" (click)="openFile(planoAula.anexo3ContentType, planoAula.anexo3)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="planoAula.anexo3">{{planoAula.anexo3ContentType}}, {{byteSize(planoAula.anexo3)}}</span>
                </td>
                <td>
                    {{planoAula.utilizadorLogin}}
                </td>
                <td>
                    <div *ngIf="planoAula.disciplinaId">
                        <a [routerLink]="['/disciplina', planoAula.disciplinaId , 'view' ]" >{{planoAula.disciplinaNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="planoAula.dossificacaoId">
                        <a [routerLink]="['/dossificacao', planoAula.dossificacaoId , 'view' ]" >{{planoAula.dossificacaoId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/plano-aula', planoAula.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plano-aula', planoAula.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(planoAula)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="planoAulas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
