<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="licencaSoftware">
            <h2><span jhiTranslate="ensinoApp.licencaSoftware.detail.title">Licenca Software</span> {{licencaSoftware.id}}</h2>
            <hr>
            <rv-alert-error></rv-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.tipoSubscricao">Tipo Subscricao</span></dt>
                <dd>
                    <span>{{licencaSoftware.tipoSubscricao}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.inicio">Inicio</span></dt>
                <dd>
                    <span>{{licencaSoftware.inicio}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.fim">Fim</span></dt>
                <dd>
                    <span>{{licencaSoftware.fim}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.data">Data</span></dt>
                <dd>
                    <span>{{licencaSoftware.data}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.valor">Valor</span></dt>
                <dd>
                    <span>{{licencaSoftware.valor}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.codigo">Codigo</span></dt>
                <dd>
                    <span>{{licencaSoftware.codigo}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.numeroUsuario">Numero Usuario</span></dt>
                <dd>
                    <span>{{licencaSoftware.numeroUsuario}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.numeroInstituicaoEnsino">Numero Instituicao Ensino</span></dt>
                <dd>
                    <span>{{licencaSoftware.numeroInstituicaoEnsino}}</span>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.software">Software</span></dt>
                <dd>
                    <div *ngIf="licencaSoftware.softwareId">
                        <a [routerLink]="['/software', licencaSoftware.softwareId, 'view']">{{licencaSoftware.softwareNome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ensinoApp.licencaSoftware.instituicaoEnsino">Instituicao Ensino</span></dt>
                <dd>
                    <div *ngIf="licencaSoftware.instituicaoEnsinoId">
                        <a [routerLink]="['/instituicao-ensino', licencaSoftware.instituicaoEnsinoId, 'view']">{{licencaSoftware.instituicaoEnsinoNome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/licenca-software', licencaSoftware.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
