<div>
    <h2 id="page-heading">
        <span jhiTranslate="ensinoApp.licencaSoftware.home.title">Licenca Softwares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-licenca-software" [routerLink]="['/licenca-software/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ensinoApp.licencaSoftware.home.createLabel">
            Create a new Licenca Software
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ensinoApp.licencaSoftware.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="licencaSoftwares?.length === 0">
        <span jhiTranslate="ensinoApp.licencaSoftware.home.notFound">No licencaSoftwares found</span>
    </div>
    <div class="table-responsive" *ngIf="licencaSoftwares?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipoSubscricao"><span jhiTranslate="ensinoApp.licencaSoftware.tipoSubscricao">Tipo Subscricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="inicio"><span jhiTranslate="ensinoApp.licencaSoftware.inicio">Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fim"><span jhiTranslate="ensinoApp.licencaSoftware.fim">Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="data"><span jhiTranslate="ensinoApp.licencaSoftware.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="valor"><span jhiTranslate="ensinoApp.licencaSoftware.valor">Valor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codigo"><span jhiTranslate="ensinoApp.licencaSoftware.codigo">Codigo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroUsuario"><span jhiTranslate="ensinoApp.licencaSoftware.numeroUsuario">Numero Usuario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroInstituicaoEnsino"><span jhiTranslate="ensinoApp.licencaSoftware.numeroInstituicaoEnsino">Numero Instituicao Ensino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="softwareNome"><span jhiTranslate="ensinoApp.licencaSoftware.software">Software</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="instituicaoEnsinoNome"><span jhiTranslate="ensinoApp.licencaSoftware.instituicaoEnsino">Instituicao Ensino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let licencaSoftware of licencaSoftwares ;trackBy: trackId">
                <td><a [routerLink]="['/licenca-software', licencaSoftware.id, 'view' ]">{{licencaSoftware.id}}</a></td>
                <td>{{licencaSoftware.tipoSubscricao}}</td>
                <td>{{licencaSoftware.inicio | date:'medium'}}</td>
                <td>{{licencaSoftware.fim | date:'medium'}}</td>
                <td>{{licencaSoftware.data | date:'medium'}}</td>
                <td>{{licencaSoftware.valor}}</td>
                <td>{{licencaSoftware.codigo}}</td>
                <td>{{licencaSoftware.numeroUsuario}}</td>
                <td>{{licencaSoftware.numeroInstituicaoEnsino}}</td>
                <td>
                    <div *ngIf="licencaSoftware.softwareId">
                        <a [routerLink]="['/software', licencaSoftware.softwareId , 'view' ]" >{{licencaSoftware.softwareNome}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="licencaSoftware.instituicaoEnsinoId">
                        <a [routerLink]="['/instituicao-ensino', licencaSoftware.instituicaoEnsinoId , 'view' ]" >{{licencaSoftware.instituicaoEnsinoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/licenca-software', licencaSoftware.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/licenca-software', licencaSoftware.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(licencaSoftware)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="licencaSoftwares?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
