<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-horario-heading" jhiTranslate="ensinoApp.horario.home.createOrEditLabel">Create or edit a Horario</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.inicioAula" for="field_inicioAula">Inicio Aula</label>
                    <div class="d-flex">
                        <input id="field_inicioAula" type="datetime-local" class="form-control" name="inicioAula" formControlName="inicioAula" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('inicioAula')!.invalid && (editForm.get('inicioAula')!.dirty || editForm.get('inicioAula')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('inicioAula')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('inicioAula')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.terminoAlua" for="field_terminoAlua">Termino Alua</label>
                    <div class="d-flex">
                        <input id="field_terminoAlua" type="datetime-local" class="form-control" name="terminoAlua" formControlName="terminoAlua" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('terminoAlua')!.invalid && (editForm.get('terminoAlua')!.dirty || editForm.get('terminoAlua')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('terminoAlua')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('terminoAlua')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.intervalo" for="field_intervalo">Intervalo</label>
                    <div class="d-flex">
                        <input id="field_intervalo" type="datetime-local" class="form-control" name="intervalo" formControlName="intervalo" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('intervalo')!.invalid && (editForm.get('intervalo')!.dirty || editForm.get('intervalo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intervalo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('intervalo')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.diaSemana" for="field_diaSemana">Dia Semana</label>
                    <input type="text" class="form-control" name="diaSemana" id="field_diaSemana"
                           formControlName="diaSemana"/>
                    <div *ngIf="editForm.get('diaSemana')!.invalid && (editForm.get('diaSemana')!.dirty || editForm.get('diaSemana')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('diaSemana')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.regimeCurricular" for="field_regimeCurricular">Regime Curricular</label>
                    <input type="text" class="form-control" name="regimeCurricular" id="field_regimeCurricular"
                           formControlName="regimeCurricular"/>
                    <div *ngIf="editForm.get('regimeCurricular')!.invalid && (editForm.get('regimeCurricular')!.dirty || editForm.get('regimeCurricular')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('regimeCurricular')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <input id="field_data" type="datetime-local" class="form-control" name="data" formControlName="data" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('data')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('data')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.anoLectivo" for="field_anoLectivo">Ano Lectivo</label>
                    <div class="input-group">
                        <input id="field_anoLectivo" type="text" class="form-control" name="anoLectivo" ngbDatepicker  #anoLectivoDp="ngbDatepicker" formControlName="anoLectivo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="anoLectivoDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.categoria" for="field_categoria">Categoria</label>
                    <input type="text" class="form-control" name="categoria" id="field_categoria"
                           formControlName="categoria"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.utilizador" for="field_utilizador">Utilizador</label>
                    <select class="form-control" id="field_utilizador" name="utilizador" formControlName="utilizadorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.turma" for="field_turma">Turma</label>
                    <select class="form-control" id="field_turma" name="turma" formControlName="turmaId">
                        <option *ngIf="!editForm.get('turmaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="turmaOption.id" *ngFor="let turmaOption of turmas; trackBy: trackById">{{turmaOption.descricao}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('turmaId')!.invalid && (editForm.get('turmaId')!.dirty || editForm.get('turmaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('turmaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.professor" for="field_professor">Professor</label>
                    <select class="form-control" id="field_professor" name="professor" formControlName="professorId">
                        <option *ngIf="!editForm.get('professorId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="professorOption.id" *ngFor="let professorOption of professors; trackBy: trackById">{{professorOption.numeroAgente}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('professorId')!.invalid && (editForm.get('professorId')!.dirty || editForm.get('professorId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('professorId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.horario.disciplina" for="field_disciplina">Disciplina</label>
                    <select class="form-control" id="field_disciplina" name="disciplina" formControlName="disciplinaId">
                        <option *ngIf="!editForm.get('disciplinaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="disciplinaOption.id" *ngFor="let disciplinaOption of disciplinas; trackBy: trackById">{{disciplinaOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('disciplinaId')!.invalid && (editForm.get('disciplinaId')!.dirty || editForm.get('disciplinaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('disciplinaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
