<div>
    <h2 id="page-heading">
        <span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.home.title">Localizacao Instituicao Ensinos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localizacao-instituicao-ensino" [routerLink]="['/localizacao-instituicao-ensino/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.home.createLabel">
            Create a new Localizacao Instituicao Ensino
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ensinoApp.localizacaoInstituicaoEnsino.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="localizacaoInstituicaoEnsinos?.length === 0">
        <span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.home.notFound">No localizacaoInstituicaoEnsinos found</span>
    </div>
    <div class="table-responsive" *ngIf="localizacaoInstituicaoEnsinos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="provincia"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.provincia">Provincia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="municipio"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.municipio">Municipio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="bairro"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.bairro">Bairro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="rua"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.rua">Rua</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quarteirao"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.quarteirao">Quarteirao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="numeroPorta"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.numeroPorta">Numero Porta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="caixaPostal"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.caixaPostal">Caixa Postal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="instituicaoEnsinoNome"><span jhiTranslate="ensinoApp.localizacaoInstituicaoEnsino.instituicaoEnsino">Instituicao Ensino</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let localizacaoInstituicaoEnsino of localizacaoInstituicaoEnsinos ;trackBy: trackId">
                <td><a [routerLink]="['/localizacao-instituicao-ensino', localizacaoInstituicaoEnsino.id, 'view' ]">{{localizacaoInstituicaoEnsino.id}}</a></td>
                <td>{{localizacaoInstituicaoEnsino.provincia}}</td>
                <td>{{localizacaoInstituicaoEnsino.municipio}}</td>
                <td>{{localizacaoInstituicaoEnsino.bairro}}</td>
                <td>{{localizacaoInstituicaoEnsino.rua}}</td>
                <td>{{localizacaoInstituicaoEnsino.quarteirao}}</td>
                <td>{{localizacaoInstituicaoEnsino.numeroPorta}}</td>
                <td>{{localizacaoInstituicaoEnsino.caixaPostal}}</td>
                <td>
                    <div *ngIf="localizacaoInstituicaoEnsino.instituicaoEnsinoId">
                        <a [routerLink]="['/instituicao-ensino', localizacaoInstituicaoEnsino.instituicaoEnsinoId , 'view' ]" >{{localizacaoInstituicaoEnsino.instituicaoEnsinoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/localizacao-instituicao-ensino', localizacaoInstituicaoEnsino.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/localizacao-instituicao-ensino', localizacaoInstituicaoEnsino.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(localizacaoInstituicaoEnsino)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="localizacaoInstituicaoEnsinos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
