<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-categoria-valiacao-heading" jhiTranslate="ensinoApp.categoriaValiacao.home.createOrEditLabel">Create or edit a Categoria Valiacao</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.categoriaValiacao.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                    <div *ngIf="editForm.get('nome')!.invalid && (editForm.get('nome')!.dirty || editForm.get('nome')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nome')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.categoriaValiacao.siglaInterna" for="field_siglaInterna">Sigla Interna</label>
                    <input type="text" class="form-control" name="siglaInterna" id="field_siglaInterna"
                           formControlName="siglaInterna"/>
                    <div *ngIf="editForm.get('siglaInterna')!.invalid && (editForm.get('siglaInterna')!.dirty || editForm.get('siglaInterna')!.touched)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.categoriaValiacao.siglaPauta" for="field_siglaPauta">Sigla Pauta</label>
                    <input type="text" class="form-control" name="siglaPauta" id="field_siglaPauta"
                           formControlName="siglaPauta"/>
                    <div *ngIf="editForm.get('siglaPauta')!.invalid && (editForm.get('siglaPauta')!.dirty || editForm.get('siglaPauta')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('siglaPauta')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.categoriaValiacao.areaFormacao" for="field_areaFormacao">Area Formacao</label>
                    <select class="form-control" id="field_areaFormacao" name="areaFormacao" formControlName="areaFormacaoId">
                        <option *ngIf="!editForm.get('areaFormacaoId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="areaFormacaoOption.id" *ngFor="let areaFormacaoOption of areaformacaos; trackBy: trackById">{{areaFormacaoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('areaFormacaoId')!.invalid && (editForm.get('areaFormacaoId')!.dirty || editForm.get('areaFormacaoId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('areaFormacaoId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
