<div>
    <h2 id="page-heading">
        <span jhiTranslate="ensinoApp.categoriaValiacao.home.title">Categoria Valiacaos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-categoria-valiacao" [routerLink]="['/categoria-valiacao/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="ensinoApp.categoriaValiacao.home.createLabel">
            Create a new Categoria Valiacao
            </span>
        </button>
    </h2>
    <rv-alert-error></rv-alert-error>
    <rv-alert></rv-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'ensinoApp.categoriaValiacao.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="categoriaValiacaos?.length === 0">
        <span jhiTranslate="ensinoApp.categoriaValiacao.home.notFound">No categoriaValiacaos found</span>
    </div>
    <div class="table-responsive" *ngIf="categoriaValiacaos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="ensinoApp.categoriaValiacao.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="siglaInterna"><span jhiTranslate="ensinoApp.categoriaValiacao.siglaInterna">Sigla Interna</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="siglaPauta"><span jhiTranslate="ensinoApp.categoriaValiacao.siglaPauta">Sigla Pauta</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="areaFormacaoNome"><span jhiTranslate="ensinoApp.categoriaValiacao.areaFormacao">Area Formacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categoriaValiacao of categoriaValiacaos ;trackBy: trackId">
                <td><a [routerLink]="['/categoria-valiacao', categoriaValiacao.id, 'view' ]">{{categoriaValiacao.id}}</a></td>
                <td>{{categoriaValiacao.nome}}</td>
                <td>{{categoriaValiacao.siglaInterna}}</td>
                <td>{{categoriaValiacao.siglaPauta}}</td>
                <td>
                    <div *ngIf="categoriaValiacao.areaFormacaoId">
                        <a [routerLink]="['/area-formacao', categoriaValiacao.areaFormacaoId , 'view' ]" >{{categoriaValiacao.areaFormacaoNome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/categoria-valiacao', categoriaValiacao.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/categoria-valiacao', categoriaValiacao.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(categoriaValiacao)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="categoriaValiacaos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
