<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="rv-serie-documento-heading" jhiTranslate="ensinoApp.serieDocumento.home.createOrEditLabel">Create or edit a Serie Documento</h2>
            <div>
                <rv-alert-error></rv-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.serieDocumento.serie" for="field_serie">Serie</label>
                    <input type="text" class="form-control" name="serie" id="field_serie"
                           formControlName="serie"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.serieDocumento.sequencia" for="field_sequencia">Sequencia</label>
                    <input type="number" class="form-control" name="sequencia" id="field_sequencia"
                           formControlName="sequencia"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.serieDocumento.entidade" for="field_entidade">Entidade</label>
                    <input type="text" class="form-control" name="entidade" id="field_entidade"
                           formControlName="entidade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ensinoApp.serieDocumento.instituicaoEnsino" for="field_instituicaoEnsino">Instituicao Ensino</label>
                    <select class="form-control" id="field_instituicaoEnsino" name="instituicaoEnsino" formControlName="instituicaoEnsinoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="instituicaoEnsinoOption.id" *ngFor="let instituicaoEnsinoOption of instituicaoensinos; trackBy: trackById">{{instituicaoEnsinoOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
